openapi: 3.1.0
info:
  title: Smart Meter API
  description: |+
    ## General Information
    - [Change Management Policy](/pages/change-management)
    - [Notification Formats](/notification/formats)
    - [Notification Transmission Policy](/pages/webhook-retransmission-policy)
    - [Message Authentication](/pages/message-authentication)
    - [Rate Limit Policy](/pages/rate-limits)
    ## Technical Documentation
    - [Getting Started](/pages/api-getting-started)

  version: 2.0.0
servers:
- url: https://api.smartmeterrpm.com
  description: Generated server url
security:
- X-API-KEY: []
- BEARER-AUTH: []
tags:
- name: Patient Management|Message
  description: REQUIRES BUSINESS MANAGEMENT
- name: Patient Management|Reminder Responses
  description: REQUIRES BUSINESS MANAGEMENT
- name: Utility|Calculations
  description: REQUIRES BUSINESS MANAGEMENT
- name: Patient Management|Interactions
  description: REQUIRES CARE MANAGEMENT
- name: Patient Management|Orders
  description: REQUIRES BUSINESS MANAGEMENT
- name: Patient Management|Alerts
  description: REQUIRES BUSINESS MANAGEMENT
- name: Patient Management|Notes
  description: REQUIRES BUSINESS MANAGEMENT
- name: Patient Management|Device
  description: REQUIRES BUSINESS MANAGEMENT
- name: Patient Management|Program
  description: REQUIRES BUSINESS MANAGEMENT
- name: Patient Management|Communication Hold
  description: REQUIRES BUSINESS MANAGEMENT
- name: Patient Management|Documents
  description: REQUIRES BUSINESS MANAGEMENT
- name: Patient Management|Review Time
  description: REQUIRES CARE MANAGEMENT
- name: Patient Management|Interest
  description: REQUIRES BUSINESS MANAGEMENT
- name: Patient Management|Worklist
  description: REQUIRES CARE MANAGEMENT
- name: Patient Management|Consent
  description: REQUIRES BUSINESS MANAGEMENT
- name: Patient Management|Diagnosis
  description: REQUIRES CARE MANAGEMENT
- name: Patient Management|Billing
  description: REQUIRES CARE MANAGEMENT
- name: Patient Management|Patient
  description: REQUIRES BUSINESS MANAGEMENT
- name: Patient Management|Documents
  description: REQUIRES CARE MANAGEMENT
paths:
  /api/worklist/update-task/{task_id}:
    put:
      tags:
      - Patient Management|Worklist
      summary: Update Task
      description: Update a Worklist Task
      operationId: updateTask
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/worklist_task_update"
        required: true
      responses:
        "200":
          description: Task successfully updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/worklist/complete-task/{task_id}:
    put:
      tags:
      - Patient Management|Worklist
      summary: Mark Task Complete
      description: Mark a Worklist Task as completed
      operationId: completeTask
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Task successfully completed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/patients/{patient_id}:
    get:
      tags:
      - Patient Management|Patient
      summary: Get a Patient
      description: |
        Retrieves detailed information for a single patient by **patient_id**.

        Returns patient details along with associated data including **devices**, **programs**, **communication hold**, **communication preferences**, and **patient notes**.

        **Patient notes** are limited to the latest three notes. For the complete list of **patient notes**, please refer to the Patient Notes API: GET /api/patients/{patient_id}/note.
      operationId: getPatientDetailsByPatientId
      parameters:
      - name: patient_id
        in: path
        description: Patient ID
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Patient retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_detail"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: Patient id not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    put:
      tags:
      - Patient Management|Patient
      summary: Update fields on a Patient
      description: |
        This operation will update fields on a patient.

        **Date times** are in ISO standard, Ex: "2023-11-11T11:55".

        **Timezone** will default to that of api key group if omitted.

        **Language** will default to English (eng) if omitted.  **Language** values should conform to ISO 639-3 three character codes. The language field is case-insensitive.

        Phone numbers (**mobile_phone**, **home_phone**) are in E.164 format, Ex: "+14151231234".

        The optional **validate** field will indicate if the shipping address is to be validated. If **true**, the address will
        be validated. If it is determined that the address is not found, the service will return a **422** *(Unprocessable Entity)*.
        If the **validate** field is omitted or set to **false**, the patient will be updated without shipping address validation.


        **Note**: a sparse object containing only fields to update can be passed to
        this service.  Full structure/schema is not necessary, but updated_by user id is required.
      operationId: updateGeneralInfo
      parameters:
      - name: patient_id
        in: path
        description: Patient ID
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/patient_update"
        required: true
      responses:
        "200":
          description: Patient field updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_detail"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/patients/{patient_id}/program:
    get:
      tags:
      - Patient Management|Program
      summary: 'Gets list of Programs associated with the Patient '
      operationId: getProgramListByPatientId
      parameters:
      - name: patient_id
        in: path
        description: ID of patient associated to programs
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      responses:
        "200":
          description: Patient programs list retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_program"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    put:
      tags:
      - Patient Management|Program
      summary: Resume Program for Patient
      operationId: resumeProgramPatient
      parameters:
      - name: patient_id
        in: path
        description: ID of patient associated to programs
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/patient_program_assoc"
        required: true
      responses:
        "200":
          description: Program resumed for Patient successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: Program not found for Patient
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    post:
      tags:
      - Patient Management|Program
      summary: Adds a Program to a Patient
      operationId: addProgramToPatient
      parameters:
      - name: patient_id
        in: path
        description: ID of patient associated to program
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/patient_program_assoc"
      responses:
        "201":
          description: Program added for Patient successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_program"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/patients/billing/mark-billed/{billing_id}:
    put:
      tags:
      - Patient Management|Billing
      summary: Mark patient billing record as billed
      description: Mark record as billed based on provided id.
      operationId: markAsBilled
      parameters:
      - name: billing_id
        in: path
        description: ID of billing record
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      responses:
        "200":
          description: Billing record marked as billed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/orders/replenish-address:
    put:
      tags:
      - Order Management|Order
      summary: Update replenishment address
      description: |2
         This operation will update the replenishment address for a device.

         The **device_id** field should be provided to identify which device should have its replenishment address updated.

         The optional **validate** field will indicate if the replenish address is to be validated. If **true**, the address will
         be validated. If it is determined that the address is not found, the service will return a **422** *(Unprocessable Entity)*.
         If the **validate** field is omitted or set to **false**, the operation will carry out the update without address validation.
      operationId: updateReplenishAddress
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/replenish_address"
        required: true
      responses:
        "200":
          description: Replenishment address updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/devices/suspend/{device_id}:
    put:
      tags:
      - Device Management|Device
      summary: Suspends device by id
      description: Suspend device based on provided id
      operationId: suspendDevice
      parameters:
      - name: device_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Device suspended successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "401":
          description: Unable to suspend this device
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/devices/assign/{device_id}:
    put:
      tags:
      - Device Management|Device
      summary: Assign device to the population by id
      description: Assign device based on provided id to a population
      operationId: assignDevice
      parameters:
      - name: device_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/population id"
        required: true
      responses:
        "200":
          description: Device assigned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/devices/activate/{device_id}:
    put:
      tags:
      - Device Management|Device
      summary: Activates device by id
      description: Activates device based on provided id
      operationId: activateDevice
      parameters:
      - name: device_id
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Device activated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "401":
          description: Unable to activate this device
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/worklist/create-task:
    post:
      tags:
      - Patient Management|Worklist
      summary: Create Worklist Task
      description: Create a new Worklist Task
      operationId: createTask
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/worklist_task_create"
        required: true
      responses:
        "201":
          description: Task created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/worklist/create-note/{task_id}:
    post:
      tags:
      - Patient Management|Worklist
      summary: Create Task Note
      description: Create a Note on a Worklist Task
      operationId: createTaskNote
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/worklist_task_note"
        required: true
      responses:
        "201":
          description: Task created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/readings:
    post:
      tags:
      - Readings Management|Readings
      summary: Retrieves readings
      description: |
        Retrieves readings leveraging a set of optional filters .Either the **date_start/date_end**
        or **ingest_date_start/ingest_date_end** (*in the ISO-8601 calendar system, such as 2007-12-03T10:15:30*)
        must be constrained to less than or equal to a 31
        day period. Device ids can be optionally passed in the **device_ids** array to target specific devices.
        Reading type values can be optionally passed int the **reading_type** field to target specific types of
        readings. Valid reading_type values include:
        - **blood_glucose**
        - **blood_pressure**
        - **pulse_ox**
        - **weight**
        - **fibricheck**
        - **thermometer**

        Omitting the “reading_type” parameter will return all applicable readings regardless of type.


        All timestamps are expressed in GMT+0. Conversion to local time can be accomplished by
        applying the timezone offset expressed in hours.To convert a timestamp from GMT+0 to the
        user's local time, add or subtract the respective timezone offset in hours. For instance,
        if the **time_zone_offset** field returns -5, subtract 5 hours from the **date_recorded** field.
        If the **time_zone_offset** field returns 3, add 3 hours to the **date_recorded** field.


        The **battery** field within the readings data is an integer (0–100) representing the estimated remaining battery capacity of the device,
        expressed as a percentage, at the time the measurement was recorded.


        The **event_flag** field within the readings data has these possible values:
        - **0**: Before Meal
        - **1**: After Meal
        - **2**: Control Solution
        - **3**: Mock Test
        - **4**: Thermometer Measurement Mode: Ear
        - **5**: Thermometer Measurement Mode: Frontal
        - **null**: no flags available

        The **signal_strength** field within the readings data represents a normalized measure of signal strength on a scale from **1 (poor) to 5 (strong)**. A value of **-1** denotes that the signal strength could not be determined.
      operationId: getReadings
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/readings_request"
        required: true
      responses:
        "200":
          description: Readings retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_readings"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/patients:
    get:
      tags:
      - Patient Management|Patient
      summary: Gets list of Patients
      description: |
        This operation returns patients associated with a given **group_id**, with support for pagination via **page** and **size** parameters.

        The **page** parameter determines which page of results to retrieve. The default value is 1 if not provided.
        The **size** parameter defines the maximum number of patient records returned per page, with a default value of 100 if not specified.

        For each patient in the response, patient details along with additional related information is included where available:
        - **Devices** associated with the patient
        - **Programs** the patient is enrolled in
        - **Communication hold** status, if applicable
        - **Communication preferences**, if configured
        - **Patient Notes**, latest 3 notes. For the full set of patient notes, please refer to the Patient Notes API: GET **/api/patients/{patient_id}/note**.
      operationId: getPatientListByGroupId
      parameters:
      - name: page
        in: query
        description: Page number
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: size
        in: query
        description: Page size
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      responses:
        "200":
          description: Patient List retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_list"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    post:
      tags:
      - Patient Management|Patient
      summary: Create a new Patient.
      description: |
        This operation will create new patient.

        **Email** is optional and will be generated as GUID if omitted.

        **Timezone** will default to that of api key group if omitted.

        **Language** will default to English (eng) if omitted.  **Language** values should conform to ISO 639-3 three character codes. The language field is case-insensitive.

        Phone numbers (**mobile_phone**, **home_phone**) should conform to E.164 format.

        The optional **validate** field will indicate if the shipping address is to be validated. If **true**, the address will
        be validated. If it is determined that the address is not found, the service will return a **422** *(Unprocessable Entity)*.
        If the **validate** field is omitted or set to **false**, the patient will be created without shipping address validation.
      operationId: createNewPatient
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/patient"
        required: true
      responses:
        "201":
          description: Patient created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_detail"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/patients/{patient_id}/review-time:
    get:
      tags:
      - Patient Management|Review Time
      summary: Get Review Time records for a Patient
      operationId: getPatientReviewTimeListByPatientId
      parameters:
      - name: patient_id
        in: path
        description: ID of patient associated to review time
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      responses:
        "200":
          description: Review Time record retrieval successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_review_time"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    post:
      tags:
      - Patient Management|Review Time
      summary: Add Review Time record for a Patient
      operationId: addPatientReviewTime
      parameters:
      - name: patient_id
        in: path
        description: ID of patient associated to review time
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/patient_review_time_assoc"
      responses:
        "201":
          description: Review Time record add successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_review_time"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/patients/{patient_id}/note:
    get:
      tags:
      - Patient Management|Notes
      summary: Get the list of Notes for a Patient
      operationId: getPatientNotesByPatientId
      parameters:
      - name: patient_id
        in: path
        description: ID of patient associated to notes
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      - name: start_date
        in: query
        description: "The start date for the query in ISO format (yyyy-MM-dd). This\
          \ parameter is optional. Requires end_date. \n\n *Example*: 2025-01-01"
        required: false
        schema:
          type: string
      - name: end_date
        in: query
        description: "The end date for the query in ISO format (yyyy-MM-dd). This\
          \ parameter is optional. Requires start_date. \n\n *Example*: 2025-01-30"
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Notes returned for Patient
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_notes"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    post:
      tags:
      - Patient Management|Notes
      summary: Add a Note for a Patient
      operationId: addPatientNote
      parameters:
      - name: patient_id
        in: path
        description: ID of patient associated to note
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/patient_note_assoc"
      responses:
        "201":
          description: Note added for Patient
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_notes"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/patients/{patient_id}/message:
    get:
      tags:
      - Patient Management|Message
      summary: Get Messages for a Patient
      operationId: getPatientMessagesByPatientId
      parameters:
      - name: patient_id
        in: path
        description: ID of patient associated to messages
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      - name: start_date
        in: query
        description: "The start date for the query in ISO format (yyyy-MM-dd). This\
          \ parameter is optional. Requires end_date. \n\n *Example*: 2025-01-01"
        required: false
        schema:
          type: string
      - name: end_date
        in: query
        description: "The end date for the query in ISO format (yyyy-MM-dd). This\
          \ parameter is optional. Requires start_date. \n\n *Example*: 2025-01-30"
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Messages retrieval successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_message"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    post:
      tags:
      - Patient Management|Message
      summary: Send a Message to a Patient
      operationId: sendPatientMessage
      parameters:
      - name: patient_id
        in: path
        description: ID of patient receiving message
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/patient_message_assoc"
      responses:
        "201":
          description: Message add successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_message"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/patients/{patient_id}/interest:
    get:
      tags:
      - Patient Management|Interest
      summary: Get Interests for a Patient
      operationId: getPatientInterestsByPatientId
      parameters:
      - name: patient_id
        in: path
        description: ID of patient.
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      responses:
        "200":
          description: Interest retrieval successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_interests"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    post:
      tags:
      - Patient Management|Interest
      summary: Add interest to a Patient
      operationId: removeInterestFromPatient
      parameters:
      - name: patient_id
        in: path
        description: ID of patient associated to interest
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/interest_api_dto"
        required: true
      responses:
        "200":
          description: Interest added to patient profile successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: Device not found for Patient
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    delete:
      tags:
      - Patient Management|Interest
      summary: Removes a Interest from a Patient
      operationId: removeInterestFromPatient_1
      parameters:
      - name: patient_id
        in: path
        description: ID of patient associated to interest
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/interest_api_dto"
        required: true
      responses:
        "200":
          description: Interest removed from Patient successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: Device not found for Patient
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/patients/{patient_id}/interactions:
    get:
      tags:
      - Patient Management|Interactions
      summary: Get list of interactions for patient.
      description: Get list of interactions for patient.
      operationId: getInteractions
      parameters:
      - name: patient_id
        in: path
        description: ID of patient associated to interactions
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      - name: start_date
        in: query
        description: "The start date for the query in ISO format (yyyy-MM-dd). This\
          \ parameter is optional. Requires end_date. \n\n *Example*: 2024-01-01"
        required: false
        schema:
          type: string
          default: ""
      - name: end_date
        in: query
        description: "The end date for the query in ISO format (yyyy-MM-dd). This\
          \ parameter is optional. Requires start_date. \n\n *Example*: 2024-01-01"
        required: false
        schema:
          type: string
          default: ""
      - name: page
        in: query
        description: Page number
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: size
        in: query
        description: Page size (max of 1000)
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: interaction_type
        in: query
        description: "Type of interaction items to retrieve; leave empty for all.\
          \ For more details, For more information, refer to the endpoint **/api/utility/interaction-type**\
          \ in the documentation."
        required: false
        schema:
          type: string
          default: ""
      - name: interaction_status
        in: query
        description: "Status of the interaction; leave empty for all. Accepted values\
          \ are:\n - **pending**: Returns only pending interactions.\n - **completed**:\
          \ Returns only completed interactions. \n - **opened**: Returns only opened\
          \ interactions."
        required: false
        schema:
          type: string
          default: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_interaction_list"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: No interactions found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    post:
      tags:
      - Patient Management|Interactions
      summary: Adds interactions.
      description: |
        This API assigns an interaction to the patient. Interactions can later be completed by staff on behalf of the patient
        or by the patient themselves. This API only accepts short_codes for the interaction, which are defined at /api/utility/interaction-type.
      operationId: getInteractions_1
      parameters:
      - name: patient_id
        in: path
        description: ID of patient.
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/interaction_type_dto"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: No interactions found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/patients/{patient_id}/document:
    get:
      tags:
      - Patient Management|Documents
      summary: Get the list of documents for a Patient
      operationId: getPatientDocumentsByPatientId
      parameters:
      - name: start_date
        in: query
        description: "The start date for the query in ISO format (yyyy-MM-dd). This\
          \ parameter is optional. Requires end_date. \n\n *Example*: 2024-01-01"
        required: false
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: "The end date for the query in ISO format (yyyy-MM-dd). This\
          \ parameter is optional. Requires start_date. \n\n *Example*: 2024-01-01"
        required: false
        schema:
          type: string
          format: date
      - name: page
        in: query
        description: Page number
        required: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: size
        in: query
        description: Page size (max of 1000)
        required: false
        schema:
          type: integer
          format: int32
          default: 100
      - name: document_type
        in: query
        description: "Type of patient document to retrieve; leave empty for all. For\
          \ more details, For more information, refer to the endpoint **/api/utility/document-type**\
          \ in the documentation."
        required: false
        schema:
          type: string
          default: all
      - name: patient_id
        in: path
        description: ID of patient associated to documents
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      responses:
        "200":
          description: Documents returned for Patient
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_documents"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    post:
      tags:
      - Patient Management|Documents
      summary: Add document for a Patient (Requires Care Management)
      operationId: addPatientDocument
      parameters:
      - name: fileName
        in: query
        required: true
        schema:
          type: string
      - name: visibility
        in: query
        description: "Visibility of a patient document. For more information, refer\
          \ to **/api/utility/document-visibility** \n *Example*: clinician"
        required: true
        schema:
          type: string
      - name: patient_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                patientDocument:
                  type: string
                  format: binary
              required:
              - patientDocument
      responses:
        "200":
          description: Document added for Patient
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/patients/{patient_id}/diagnosis:
    get:
      tags:
      - Patient Management|Diagnosis
      summary: Gets list of diagnosis associated with the Patient.
      operationId: getDiagnosisListByPatientId
      parameters:
      - name: patient_id
        in: path
        description: ID of patient associated to diagnosis
        required: true
        schema:
          type: integer
          format: int64
        example: 1
      responses:
        "200":
          description: Patient diagnosis retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_diagnosis"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    post:
      tags:
      - Patient Management|Diagnosis
      summary: Add diagnosis data to a Patient
      operationId: addDiagnosisToPatient
      parameters:
      - name: patient_id
        in: path
        description: ID of patient
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/patient_diagnosis_api_dto"
        required: true
      responses:
        "200":
          description: Diagnosis added to patient profile successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: Device not found for Patient
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    delete:
      tags:
      - Patient Management|Diagnosis
      summary: Removes a diagnosis from a Patient
      operationId: removeDiagnosisFromPatient
      parameters:
      - name: patient_id
        in: path
        description: ID of patient
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatientDiagnosisDeleteDTO"
        required: true
      responses:
        "200":
          description: Diagnosis removed from Patient successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: Device not found for Patient
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/patients/{patient_id}/device:
    post:
      tags:
      - Patient Management|Device
      summary: Adds a Device to a Patient
      operationId: addDeviceToPatient
      parameters:
      - name: patient_id
        in: path
        description: ID of patient associated to device
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/patient_device_assoc"
        required: true
      responses:
        "201":
          description: Device added for Patient successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/patients/{patient_id}/consent:
    get:
      tags:
      - Patient Management|Consent
      summary: Retrieve consent history for a Patient
      operationId: getPatientConsentHistory
      parameters:
      - name: patient_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Consent history retrieved for Patient
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/patient_consent_history"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    post:
      tags:
      - Patient Management|Consent
      summary: Add consent for a Patient
      operationId: addPatientConsent
      parameters:
      - name: consent_short_code
        in: query
        description: Consent short code. Can be obtained from GET /api/utility/consent
          API
        required: true
        schema:
          type: string
        example: verbal
      - name: patient_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "201":
          description: Consent added for Patient
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    delete:
      tags:
      - Patient Management|Consent
      summary: Delete consent for a Patient
      operationId: deletePatientConsent
      parameters:
      - name: consent_id
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: patient_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Consent deleted for Patient
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/patients/{patient_id}/communication-hold:
    get:
      tags:
      - Patient Management|Communication Hold
      summary: Get Communication Hold records for a Patient
      operationId: getPatientCommunicationHoldListByPatientId
      parameters:
      - name: patient_id
        in: path
        description: ID of patient associated to communication hold list
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      responses:
        "200":
          description: Communication Hold record list retrieval successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_communication_hold"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    post:
      tags:
      - Patient Management|Communication Hold
      summary: Add Communication Hold for a Patient
      operationId: addPatientCommunicationHold
      parameters:
      - name: patient_id
        in: path
        description: ID of patient associated to communication hold
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/patient_communication_hold"
        required: true
      responses:
        "201":
          description: Communication Hold record add successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_communication_hold"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    delete:
      tags:
      - Patient Management|Communication Hold
      summary: Remove a Communication Hold for a Patient
      operationId: removePatientCommunicationHold
      parameters:
      - name: patient_id
        in: path
        description: ID of patient associated to communication hold
        required: true
        schema:
          type: integer
          format: int64
        example: 100
      responses:
        "200":
          description: Communication Hold removal successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_communication_hold"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: Communication Hold not found for Patient
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/orders:
    get:
      tags:
      - Order Management|Order
      summary: Get all orders for date range
      description: Retrieves all Orders associated with the group for date range.
        Date range must be 30 days or less and will default to last 30 days if date
        range not provided
      operationId: getOrders
      parameters:
      - name: start_date
        in: query
        description: "The start date for the query in ISO format (yyyy-MM-dd). This\
          \ parameter is optional. Requires end_date. \n\n *Example*: 2024-01-01"
        required: false
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: "The end date for the query in ISO format (yyyy-MM-dd). This\
          \ parameter is optional. Requires start_date. \n\n *Example*: 2024-01-30"
        required: false
        schema:
          type: string
          format: date
      responses:
        "200":
          description: Orders retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_orders"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    post:
      tags:
      - Order Management|Order
      summary: Create an Order
      description: |
        This operation will create and place an order.


        The **order_number** field should be a number unique to your organization and can be used to identity devices
        shipped under the order after order has been processed.  The customer name and number can be any data that would
        be meaningful to your organization


        The **shipping_method** field support the following methods:
        - **MAIL** = Standard
        - **MAIL_SIG** = Standard + Signature
        - **UP2** = Overnight
        - **UP2_SIG** = Overnight + Signature


        The optional **validate** field will indicate if the order address is to be validated. If **true**, the address will
        be validated. If it is determined that the address is not found, the service will return a **422** *(Unprocessable Entity)*.
        If the **validate** field is omitted or set to **false**, the order will be subject to an additional fee if the address
        is not found.


        Note that the inclusion of the **patient** or **patient_id** are optional and
        should only be used if patient management functionality is used on the Smart Meter portal.  If a valid
        patient_id or new patient structure is included with the order, the device(s) shipped will be assigned to
        the existing or newly created patient within the Smart Meter portal.  Also note that if a patient structure
        is included, the first_name, last_name, and dob fields will be used to check for an existing patient.
        If found, the ordered device will be assigned to that patient. If more than one patient is found for those fields,
        the mrn value will be used to determine which patient to assign the device to.
      operationId: createOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/order_creation"
        required: true
      responses:
        "200":
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_order_creation"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "422":
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/notifications:
    get:
      tags:
      - Notification Management|Notification
      summary: Get existing notifications
      description: Retrieves existing notification endpoints
      operationId: getNotifications
      responses:
        "200":
          description: Notifications retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_notification"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
    post:
      tags:
      - Notification Management|Notification
      summary: Add notification
      description: Adds notification and retrieves all existing notification endpoints.
        The “type” flag will default to “reading” if not included in the request body.
        Either “reading” or “fulfillment” are supported “type” options. ONLY a single
        endpoint per notification type can be configured.
      operationId: addNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/notification"
        required: true
      responses:
        "200":
          description: Notification added successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_notification"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "406":
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/worklist/get-worklist:
    get:
      tags:
      - Patient Management|Worklist
      summary: Get worklist for Group
      description: Retrieves worklist with search parameters
      operationId: getWorklistForGroup
      parameters:
      - name: patient_id
        in: query
        description: Patient ID in group to retrieve worklist
        required: false
        schema:
          type: integer
          format: int64
      - name: Status
        in: query
        description: Status of worklist items to retrieve; leave empty for all
        required: false
        schema:
          type: string
          enum:
          - COMPLETED
          - UPCOMING
          - PENDING
          - OPEN
      - name: assigned_to
        in: query
        description: Assigned User ID of worklist items to retrieve
        required: false
        schema:
          type: integer
          format: int64
      - name: page
        in: query
        description: Starting page for pagination
        required: false
        schema:
          type: integer
          format: int64
      - name: size
        in: query
        description: Page size for pagination
        required: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Responses retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_worklist"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/utility/utility/bmi:
    get:
      tags:
      - Utility|Calculations
      summary: Calculate BMI
      description: Calculate Body Mass Index (BMI) using height in cm and weight in
        lbs.
      operationId: getBmiValue
      parameters:
      - name: height
        in: query
        description: Height (in cm)
        required: true
        schema:
          type: integer
          format: int64
        example: 175
      - name: weight
        in: query
        description: Weight (in lbs)
        required: true
        schema:
          type: number
          format: double
        example: 140
      responses:
        "200":
          description: BMI calculated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/utility/utility/bmi-category:
    get:
      tags:
      - Utility|Calculations
      summary: Get BMI Category
      description: Get the BMI category using height in cm and weight in lbs.
      operationId: getBmiCategory
      parameters:
      - name: height
        in: query
        description: Height (in cm)
        required: true
        schema:
          type: integer
          format: int64
        example: 175
      - name: weight
        in: query
        description: Weight (in lbs)
        required: true
        schema:
          type: number
          format: double
        example: 140
      responses:
        "200":
          description: BMI category retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/utility/timezones:
    get:
      tags:
      - Utility|General
      summary: Get list of available time zones
      description: Get list of available time zones
      operationId: geTimeZones
      responses:
        "200":
          description: Time zone list retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_time_zone_list"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: No time zones found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/utility/times-of-day:
    get:
      tags:
      - Utility|General
      summary: Get list of available times of day
      description: Get list of available times of day
      operationId: getAvailableTimesOfDay
      responses:
        "200":
          description: Available times of day retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_times_of_day_list"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: No available times found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/utility/races:
    get:
      tags:
      - Utility|General
      summary: Get list of available races
      description: Get list of available races
      operationId: getRaces
      responses:
        "200":
          description: Race list retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_race_list"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: No races found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/utility/patient-meta:
    get:
      tags:
      - Utility|Patient
      summary: Get list of available patient metadata properties
      description: Get list of available patient metadata properties
      operationId: getPatientMetadataProperties
      responses:
        "200":
          description: Patient metadata properties list retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_metadata_list"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: No interaction status found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/utility/languages:
    get:
      tags:
      - Utility|General
      summary: Get list of available languages
      description: Get list of available languages
      operationId: getLanguages
      parameters:
      - name: page
        in: query
        description: Page number of paged language list to pull
        required: false
        schema:
          type: integer
          format: int32
          default: 1
        example: 1
      - name: size
        in: query
        description: Size of paged language list to pull
        required: false
        schema:
          type: integer
          format: int32
          default: 100
        example: 100
      responses:
        "200":
          description: Languages list retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_language_list"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: No languages found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/utility/interaction-type:
    get:
      tags:
      - Utility|Patient
      summary: Get list of available interaction types
      description: Get list of available interaction types
      operationId: getInteractionTypes
      responses:
        "200":
          description: Interaction types retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: No interaction types found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/utility/interaction-status:
    get:
      tags:
      - Utility|Patient
      summary: Get list of available interaction status
      description: Get list of available interaction status
      operationId: getInteractionStatus
      responses:
        "200":
          description: Interaction status list retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: No interaction status found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/utility/gender:
    get:
      tags:
      - Utility|General
      summary: Get list of available genders
      description: Get list of available genders
      operationId: getGenders
      responses:
        "200":
          description: Gender list retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_gender_type"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: No genders found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/utility/fulfillment-carriers:
    get:
      tags:
      - Utility|General
      summary: Get list of available fulfillment carriers.
      description: Get list of fulfillment carries.
      operationId: getFulfillmentCarriers
      responses:
        "200":
          description: Fulfillment carriers retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_carrier_list"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: No diagnosis codes types found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/utility/document-visibility:
    get:
      tags:
      - Utility|Patient
      summary: Get list of patient document visibilities
      description: Get list of patient document visibilities
      operationId: getDocumentVisibilities
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_patient_document_visibility_list"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: No patient document visibility found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
  /api/utility/document-type:
    get:
      tags:
      - Utility|Patient
      summary: Get list of available document types
      description: Get list of available document types
      operationId: getDocumentTypes
      responses:
        "200":
          description: Document types retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response_document_type_list"
        "400":
          description: Problem processing request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "403":
          description: Not Authorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "404":
          description: No document types found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api_response"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
[...]
